<div class="card">
    <h3 class="card-title" name="author"><span class="card-underline">{title}</span></h3>

    <div class="card-content">
        <span class="card-underline">{details}</span>
    </div>

    <form name="delete-form" method="post">
        <input class="edit-content" type="image" src="img/edit_black_24dp.svg" name='button-edit' title="Edite esse post-it" value="" />
        <input type="hidden" name="edit_note_id" value="{id}" />
    </form>

    <form name="delete-form" method="post">
        <input class="delete-content" type="image" src="img/clear_black_24dp.svg" name='button-delete' title="Delete esse post-it" value=""/>
        <input type="hidden" name="delete_note_id" value="{id}" />
    </form>

</div>